{
  "env": {
    "test": {
      "presets": [
        [
          "@nuxt/babel-preset-app",
          {
            "useBuiltIns": "usage",
            "corejs": 3,
          },
        ],
      ]
    },
  },
}
