:root {
  color: #252733;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $bg-gray;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

a{
  color: $primary;
  text-decoration: none;
}
