:root {
  font-family: "Hiragino Sans", "Meiryo", "Source Han Sans", "Noto Sans CJK JP", "Yu Gothic", sans-serif;
  color: #252733;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $bg-gray;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: $primary;
}

h1,h2,h3 {
  font-weight: 600;
}
