// ==================
// color

$white: #fff;
$gray-1: #c4c9d0;
$gray-2: #a4a6b3;
$gray-3: #9098a1;
$black: #545454;
$primary: #05A;
$light: #dde2ff;
$link: #2666e2;
$notice: #ee8030;
$error: #e24242;
$bg-gray: #f7f8fc;
$bg-black: #363740;
$bg-red: #fcdbdb;


//client color
//$primary: #05A;
//$secondary: #FF8000;
//$alert-normal: #C9E3FF;
//$alert-error: #FFD3A6;
//$background: #F2F2F2;
//$white: #fff;
//$gray-1: #c4c9d0;
//$gray-2: #a4a6b3;
//$gray-3: #9098a1;
//$error: #e24242;
//$bg-black: #363740;

